version:
  tag:    'v{version.major}.{version.minor}.{version.patch}'
  format: semver
  bump:
    policy: conventional-commits
    strict: yes

phases:
  style:
    commit-messages:
      - python3 -m venv --clear venv3
      - venv3/bin/python -m pip install --upgrade .
      # Require each commit message to adhere to our requirements
      - foreach: AUTOSQUASHED_COMMIT
        sh: venv3/bin/python venv3/bin/commisery-verify-msg ${AUTOSQUASHED_COMMIT}
      - venv3/bin/python venv3/bin/commisery-verify-msg HEAD

  test:
    python3:
      - python3 -m venv --clear venv3
      - venv3/bin/python -m pip install tox
      - junit: junit-test.xml
        sh: venv3/bin/python -m tox -e py3

  publish:
    python:
      - run-on-change: never # re-enable when it's possible to upload for new released versions only
        with-credentials:
          id: commisery-pypi
          type: username-password
      - python3 -m venv venv3
      - venv3/bin/python -m pip install --upgrade twine wheel
      - venv3/bin/python setup.py sdist bdist_wheel
      - venv3/bin/python venv3/bin/twine upload -u ${USERNAME} -p ${PASSWORD} --repository pypi dist/*
